<div align="center">

  <h1>Lista de Usuários registrados</h1>

  <table border="1" *ngIf="hasRecord();">
    <tr>
      <td>Id</td>
      <td>Nome</td>
      <td>Telefone</td>
      <td>Email</td>
      <td>Deletar</td>
      <td>Selecionar</td>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{user.idUser}}</td>
      <td>{{user.name}}</td>
      <td>{{user.tell}}</td>
      <td>{{user.email}}</td>
      <td>
        <button (click)="deleteUser(user.idUser)">Deletar</button>
        <button >teste</button>
      </td>
      <td>
        <button (click)="selectUser(user.idUser)">Selecionar</button>
      </td>
    </tr>
  </table>

  <!-- <ng-template #no>
    <p>Não há usuários registrados!</p>
  </ng-template> -->

  <!-- <div>
    <p>Nome : 
      <input type="text" [(ngModel)]="user.nome">
    </p>
    <p>Telefone : 
      <input type="number" [(ngModel)]="user.tell">
    </p>
    <p>Email : 
      <input type="email" [(ngModel)]="user.email"> -->
    <!-- </p> -->
    <!-- <p>
      <button (click)="">Adicionar</button>
    </p>
    <p>
      <button (click)="">Alterar</button>
    </p> -->
  <!-- </div> -->

</div>